server:
  port: 4503

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER_NAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: localhost
      port: 6379
      password: ""
    cache:
      type: redis

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER_NAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000
        debug: true
app:
  ticket:
    path: ${TICKETS_BASE_PATH}
  otp:
    expiry-in-min: 3
    cooldown-sec: 45
    max-resend: 3
thymeleaf:
  prefix: file:///D:/Intellij/templates/
  suffix: .html